@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply select-none;
}

body {
    text-rendering: optimizespeed;
    font-family: 'Public Sans', sans-serif;
    @apply text-primary dark:text-dark-primary;
}

h1 {
    font-size: 1.3125rem;
    line-height: 1.575em;
    font-weight: 600;
}

// Tippy custom
.tippy-content {
    @apply py-1 px-2;
}

.tooltip-inner {
    font-size: 0.8203125rem;
}

// Scrollbar customize
.scrollbar::-webkit-scrollbar {
    @apply hidden;
}

.scrollbar > div {
    transition: background-color ease 0.3s, top 0s;
}

// Tippy
.tippy-box[role='tooltip'] {
    @apply bg-black dark:bg-dark-tooltip-bg text-tooltip-color dark:text-dark-tooltip-color;
}

[role='tooltip'] .tippy-arrow {
    @apply text-black dark:text-dark-tooltip-bg;
}

// Contacts
.contacts {
    .MuiTabPanel-root {
        @apply p-0;
    }

    .MuiBox-root {
        @apply px-6;
    }
}

// MUI custom
.MuiBox-root {
    .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary {
        @apply dark:text-white;

        &.Mui-selected {
            @apply text-primary-color;
        }
    }

    .MuiTabs-indicator {
        @apply bg-primary-color;
    }
}
